# Valenbici

<img src="./img/valenbici.jpg">

- http://www.valenbisi.es/service/carto/json
- http://www.valenbisi.es/service/stationdetails/valence/63

### EJERCICIOS
1. Obtener la cantidad de estaciones que tienen 30 plazas disponibles (campo TOTAL = 30).
2. Código de estación con la media más alta de bicicletas disponibles (campo AVAILABLE con media más alta).
3. Histograma de bicicletas disponibles de la estación obtenida en el apartado 2.
4. Realizar el gráfico con la línea temporal de bicicletas disponibles de la estación obtenida en el apartado 2. Posiblemente se deba cambiar el índice a un tipo FECHA

In [1]:
import pandas as pd

In [2]:
from os import path
bicis_path = path.join('res','estaciones_bici.csv')

In [3]:
bicis = pd.read_csv(bicis_path, sep=';')
bicis.head()

,Direccion,Numero,Activo,Bicis_disponibles,Espacios_libres,Espacios_totales,ticket,fecha_actualizacion,geo_shape,geo_point_2d
0,Francisco Cubells - San José de la Vega,159,T,10,5,17,F,23/01/2024 17:44:30,"{""coordinates"": [-0.3347222532485526, 39.46344...","39.463449276866356, -0.3347222532485526"
1,Mediterráneo - Plaza Cruz de Cañamelar,161,T,12,3,15,T,23/01/2024 17:44:30,"{""coordinates"": [-0.3317262387298495, 39.46796...","39.46796929073871, -0.3317262387298495"
2,Cirilo Amorós - Jorge Juan (Mercado Colón),30,T,16,2,20,F,23/01/2024 17:44:30,"{""coordinates"": [-0.36849936365579583, 39.4686...","39.468601309884924, -0.36849936365579583"
3,General Elio - Llano del Real,83,T,8,17,25,T,23/01/2024 17:44:30,"{""coordinates"": [-0.3669703519914759, 39.47758...","39.47758533929587, -0.3669703519914759"
4,Blasco Ibañez - Poeta Durán Tortajada,93,T,19,19,38,T,23/01/2024 17:44:30,"{""coordinates"": [-0.34380927742382206, 39.4722...","39.472282310670764, -0.34380927742382206"

In [4]:
data = bicis[['Numero', 'Espacios_totales', 'fecha_actualizacion', 'Bicis_disponibles']]

In [5]:
display(data.head())

   Numero  Espacios_totales  fecha_actualizacion  Bicis_disponibles
0     159                17  23/01/2024 17:44:30                 10
1     161                15  23/01/2024 17:44:30                 12
2      30                20  23/01/2024 17:44:30                 16
3      83                25  23/01/2024 17:44:30                  8
4      93                38  23/01/2024 17:44:30                 19

In [6]:
display(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276 entries, 0 to 275
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Numero               276 non-null    int64
 1   Espacios_totales     276 non-null    int64
 2   fecha_actualizacion  276 non-null    object
 3   Bicis_disponibles    276 non-null    int64
dtypes: int64(3), object(1)
memory usage: 8.8+ KB

None

In [7]:
display(data.describe(include='all'))

            Numero  Espacios_totales  fecha_actualizacion  Bicis_disponibles
count   276.000000        276.000000                  276         276.000000
unique         NaN               NaN                    2                NaN
top            NaN               NaN  23/01/2024 17:44:30                NaN
freq           NaN               NaN                  275                NaN
mean    138.500000         19.800725                  NaN           8.007246
std      79.818544          5.490501                  NaN           7.069521
min       1.000000          9.000000                  NaN           0.000000
25%      69.750000         15.000000                  NaN           2.000000
50%     138.500000         20.000000                  NaN           6.000000
75%     207.250000         20.000000                  NaN          12.000000
max     276.000000         40.000000                  NaN          39.000000